<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.nichijou.oops">

    <application>
        <provider
            android:name="io.nichijou.oops.OopsInitProvider"
            android:authorities="${applicationId}.oops.OopsInitProvider"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>
